h1{
	font-size:48px;
	color: #666666;
}
h2{
	font-size: 20px;
	margin-top: 0;
	color: #ed1b2e;
	font-style: italic;
}
p{
	color: #666666;
}
body{
	min-width: 640px;
	overflow-x: hidden;
	margin-bottom: 30px;
	font-family: 'Source Sans Pro', sans-serif;
}
a:hover {
	text-decoration: none;
}
.col-lg-7{
	max-width: 520px;
}
.nopadding {
   padding: 0;
   margin: 0;
}
.logo{
	width: 82px;
	height: 82px;
	margin-bottom: 50px;
	background: url(../images/logo.jpg) no-repeat 0 0;
}
.menu{
	position: fixed;
	top:0;
	left:0;
	height: 100%;
	width: 82px;
	background: #eeeeee;
}
.menu-open{
	left:-220px;
	display: block;
}
.menu-open{
	width:220px;
}
.menu-open img{
	display: block;
	margin-top: 12px;
	margin-left: 25px;
}
.menu ul{
	list-style: none;
	text-align: center;
	margin: 0;
	padding: 0;
	padding-top: 30px;
}
.menu ul li{
	box-shadow: inset 0 0 0 0 transparent;
	-webkit-transition: all ease-in 0.2s;
	-moz-transition: all ease-in 0.2s;
	transition: all ease-in 0.2s;
}
.menu-close ul li{
	padding: 10px 0;
}
.menu-open ul li {
	padding: 24px 0;
}
.menu-open i {
	padding-left: 40px;
	padding-right: 15px;
}
.menu ul li.active,
.menu ul li:hover{
	border-left: 4px solid #aaaaaa;
	box-shadow: inset -85px 0 0 0 #ffffff;
}
.menu ul li a{
	display: block;
	color: #666666;
	font-size: 21px;
}
.menu ul li.active i,
.menu ul li:hover i{
	color: #ed1b2e;
}
.menu-open ul{
	text-align: left;
}
.menu-open .slide-btn{
	text-align: right;
}
.menu-open ul li.active,
.menu-open ul li:hover{
	margin-left: 20px;
}
.menu-close ul li.active,
.menu-close ul li:hover{
	margin-left: 5px;
}
.sign-out {
	padding-right: 38px;
}
.sign-out a {
	display: block;
	color: #aeaeae;
	
}
.sign-out i{
	font-size: 21px;
	-webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
/* main section*/
.fix-position{
	margin-left: 16.66666667%
}
.breadcrumb{
	margin-top: 35px;
	padding:0;
	background: transparent;
}
.breadcrumb a{
	color: #c5c5c5;
}
.tip-of-the-day,
.tip-of-the-day img{
	margin-bottom: 30px;
}
.tip-of-the-day h2{
	padding-bottom: 10px;
	border-bottom: 1px solid #666666;
}
.tip-of-the-day .content{
	margin-top: 20px;
}
.read-more{
	font-size: 16px;
	color: #5e59be;
}
/* graph section*/
.diagrams-container h2{
	float: left;
	margin-bottom: 25px;
}
.edit-btn{
	float: right;
}
.diagrams-container{
	margin-bottom: 20px;
}
.diagrams-container .col-xs-2{
	width: 8.666667%;
}
.diagram{
	margin-bottom: 5px;
}
.fa-cog{
	font-size: 18px;
	color: #666666;
}
.fa-twitter-square,
.fa-youtube-square,
.fa-facebook-square{
	font-size: 48px;
	color: #55acee;
	margin-top: 10px;
}
.fa-youtube-square{
	color: #ed1b2e;	
}
.fa-facebook-square{
	color: #3b5998;
}

/* notifications section*/
.notifications-container{
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	max-width: 230px;
	height: 100%;
	min-height:300px;
	background-color: #eeeeee;
	padding: 0 20px;
}
.slide-btn{
	display: block;
	margin-top: 35px;
	font-size: 16px;
	color: #666666;
}
.notification-messages {
	padding-top: 90px;
}
.notification-messages .alert {
	background: #ffffff;
	border-radius: 0px;
	border: 1px solid #d5d5d5;
	position: relative;
}
.tip:after {
	position: absolute;
	top: calc( 50% - 15px);
	left: -12px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 15px 13px 15px 0;
	border-color: transparent #ffffff transparent transparent;
	content: '';
}
.tip:before {
	position: absolute;
	top: calc( 50% - 15px);
	left: -14px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 15px 14px 15px 0;
	border-color: transparent #d5d5d5 transparent transparent;
	content: '';
}
.notification-title {
	font-weight: 700;
}
.alert-dismissible {
	padding-right: 3px;
	width: 185px;
	min-height: 150px;
}
.alert-dismissible .close {
	position: absolute;
	bottom: 10px;
	right: 10px;
}
.notification-title {
	font-size: 18px;
}
.notification-title i{
	font-size: 26px;
	padding-right: 20px;
}
.fa-exclamation-triangle {
	color: #ffb20d;
}
.fa-thumbs-up{
	color: #3fbf2a;
}
.notification-message {
	padding-top: 10px;
}
/* copyright section */
.copyright{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	padding: 10px 0;
	background: #aaaaaa;
	text-align: center;
	font-size: 10px;
	color: #ffffff;
}

.copyright.menu-open{
	display: none;
	width: 220px;
	height: 100px;
	font-size: 14px;
}
.copyright span{
	display: block;
}
@media (min-width: 768px){
	.tip-of-the-day .content{
		margin-top: 0;
	}
	.diagrams-container{
		margin-top: 0;
	}
}
